{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "printWidth": 80,
  "arrowParens": "always",
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"]
}
